@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Helvetica, sans-serif;
    color: #323232;
    border: none;
}

body {
    padding-top: 5vh;
    background: linear-gradient(68.15deg, #00ff2a 16.62%, #371ec5 85.61%);
}


#main-container {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFF;
    border-radius: 10px;
    padding: 25px;
}

#main-container-h1 {
    text-align: center;
    margin-bottom: 5px;
    font-size: 1.6rem;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 1rem;

}

.cabecalho-imagem {
    height: 5rem;
    position: absolute;
    top: 1rem;
    left: 2rem;

}

.cabecalho-menu {
    display: flex;
    gap: 2rem;

}

.carousel-inner {
    overflow: hidden;
    width: 700px;
    height: 400px;
    margin: 0 auto;
    margin-top: 20px;
}

.carousel-inner {
    width: 40%;

}

#meuSlider {
    width: 700px;
    height: 400px;
}

.cabecalho-menu-item {
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px;
}

.container-fluid {
    height: 100px;
    display: contents;
}

.rounded {
    position: relative;
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;

}

.formulario {
    margin-top: 1rem;
}

.rodape {

    padding: 1rem;
}

.rodape-imagem {
    height: 10rem;
    display: block;
    margin: 0 auto;
}


.full-box {
    flex: 1 1 100%;
    position: relative;
}

.half-box {
    flex: 1 1 45%;
    position: relative;

}

.spacing {
    margin-right: 2.5%;
}

#agreement {
    margin-right: 5px;
}

#agreement,
#agreement-label {
    display: inline-block;
    width: auto;
}

.template {
    display: none;
}